
.back-button {
    margin-top: 1%;
    margin-left: 5%;
    font-size: 20px;
}

.back-button:hover {
    color: var(--mainLightBrown)
}

.card-details-container {
    background: #fff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    width: 700px;
    border-radius: 20px;
         
}

.card-details-container img {
    width: 350px;
    max-height:fit-content;
    border-radius:20px;  
}

.card-details-buttons {
    display: flex;
}

.delete-confirm {
    color: #fff;
    background: var(--mainRed);
}
.delete-confirm:a {
    color: var(--mainBlack);
    background: var(--mainRed);
}

.card-details-container h2 {
    font-weight: 500;
    opacity: 0.8;
    font-size: 1.4rem;
    margin-top: 0;
} 

.card-details-items h2, p{
   padding:5px;
   width:90%;
}

@media (max-width: 900px) {
     .card-details-container {
         width: 500px;
     }
     .card-details-container img {
        width: 250px;
    }
     
  }
