.user-profile {
    /* display: flex; */
    margin: auto;
    text-align: center;
}

.user-profile img{
    width: 150px;
    border-radius: 50%;
}

.follows {
    display: flex;
    justify-content: center;
}

.the-following {
    margin: 1px 5px 10px 5px;
}